*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


/* start header */
.wrapper{
    height: 400px;
    background: #7A3DC6;
}

.logo{
padding: 5px;
padding-right: 15px;
position: absolute;
right: 0;
top: 0;
font-size:3.6em ;
color: white;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
animation: slideInFromRight 0.5s ease-in;
}
.logo::after {
    content: "ior";
    color: #DC3549;
    animation: slideInFromRight 2s ease-in;
}



@keyframes slideInFromRight
 {
    from { transform: translateX(100%); }
    to { transform: translateX(0%); }
  }

/* bttns sign */
.wrapperBttns{
    margin-left: 18px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top:20px ;
    display:flex; 
    width: 25%;
    min-width: 250px;
    max-width: 400px;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 1.1em; 
   
      
}
.primeBttn{
    margin-right: 15px;
    direction: rtl;
    color: white;
    font-size: 1.5em;
    text-decoration-color: #DC3549;

}
.primeBttn:hover{
    font-size: 30px;
}

.signInBttn{
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: white;
    width: 25%;
    padding: 10px;
    text-align: center;   
    border: 1px solid #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.signInBttn:hover{
    cursor: pointer;
    background-color: white;
    color: #281158;
    transition: .2s ease-in;
}

.logInBttn{
    font-weight: normal;
    background-color: #DC3549;
    color: white;
   width: 25%;
    padding: 10px;
    text-align: center;   
    border: 1px solid #FFFFFF;
    cursor: pointer;
}
.logInBttn:hover{
    background-color: white;
    color: #DC3549;
    transition: .2s ease-in;
}
/* ------------ */

.wraperNumofJobs{
    padding: 70px;
    display: flex;
    justify-content: center;
    animation: downTotop 1s ease-in;
}

@keyframes downTotop
 {
    from { transform: translateY(100%); }
    to { transform: translateY(0%); }
  }

/* num&text of jobs */
.wrTextJobs{
   
    text-align: center;
    color: white;
}
.numOfJobs{
    font-size: 3.4em;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
}
.textJobs{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
}
/* ------------ */

.divSlogen{
    max-width: 900px;
    margin: 0 auto;
}

#slogen{
    direction: rtl;
    text-align: center;
    color: white;
    font-size: 2em;
}

/* start div iconsJobs */
.wrapIconsJobs{
    
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.wrapIconsJobs{
    
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.iconJob1{
    margin-right: 20px;
    max-width: 160px;
    height: 70px;
    width: 20%;
    background-image: url('/images/job1.png') ;
    background-size:100% 100%;
    
}
.iconJob2{
    margin-right: 20px;
    max-width: 160px;
    height: 70px;
    width: 20%;
    max-width: 120px;
    background-image: url('/images/job2.png') ;
    background-size:100% 100%; 
}
.iconJob3{
    margin-right: 20px;
    max-width: 160px;
    height: 70px;
    width: 20%;
    background-image: url('/images/job3.png') ;
    background-size:100% 100%; 
}
.iconJob4{
    margin-right: 20px;
    max-width: 160px;
    height: 70px;
    width: 20%;
    background-image: url('/images/job4.png') ;
    background-size:100% 100%; 
}
.divServicerNum{
    background-color:#dc3549da;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    max-width: 200px;
    font-size: 1.6em;
    direction: rtl;
    color: white;
    border-radius: 15px;
}

/* -------------- */


/* start popUp_login */
.wrapper-popUp-login{

    background: rgb(0, 0, 0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
   
}
.popUp-content{
    height: 400px;
    width: 45%;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius:10px;
    position: relative;
    align-items: center;
}
.logo_popUp{
position: absolute;
top: 10px;
right: 10px;
width: 140px;
}
.exit_icon{
position: absolute;
top: 10px;
left: 10px;
width: 30px;
cursor: pointer;
}
.wrap_input{
padding: 20px;
margin-top:40px;
    
}
.login-email,.login-password{
margin: 20px auto;
display: block;
width: 80%;
padding: 15px;
border: none;
border-radius: 10px;
direction: rtl;
background-color: #E7E7E7;


}
.loginText,.login_bttn{
    display: flex;
    justify-content: center;
    align-items: center;

}
.loginText h1{
    color: #281158;
}
.div_loginBttn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_bttn{
width: 30%;
padding: 12px;
background: #E56A78;
border-radius: 10px;
color: white;
font-size: 17px;
text-decoration: none;
outline: none;
border: none;
cursor:pointer;
}
.signUp_ishere{
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
direction: rtl;
color: #281158;
}
.signUp_ishere a {
    color: #281158;
}

/* -------------- */

.katavot{
    display: block;
    text-align: center;
    margin:0 auto;
}
.tipImg{
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 30px;
}