
*{
    padding: 0;
    margin: 0;
}



.logo_popUp{
    position: absolute;
    top: 20px;
    right: 15px;
    width: 12%;
    min-width: 100px;
    max-width: 200px;
    }

/* title */

.titleRegister{
    color: #281158;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
}